.download_wrap .pc_dl_box .pc_dl_box_hd h2 {
  background: url(../images/title03.gif) no-repeat;
  height: 42px;
  text-indent: 9999em;
}
.download_wrap .pc_dl_box .pc_dl_box_hd .box_hd_txt {
  line-height: 34px;
  height: 34px;
  margin-bottom: 30px;
}
.download_wrap .pc_dl_box .pc_dl_box_bd .pc_dl_img {
  height: 385px;
  width: 625px;
  overflow: hidden;
}
.download_wrap .pc_dl_box .pc_dl_box_bd .pc_dl_box_r {
  padding-top: 10px;
  width: 561px;
  height: 385px;
}
.download_wrap .pc_dl_box .pc_dl_box_bd .pc_dl_box_r .r_box_dl_btn {
  margin-top: 20px;
}
.download_wrap .pc_dl_box .pc_dl_box_bd .pc_dl_box_r .r_box_dl_btn a {
  display: block;
  width: 141px;
  height: 43px;
  line-height: 43px;
  padding-left: 74px;
  font-size: 24px;
  background-color: #ddb200;
}
.download_wrap .pc_dl_box .pc_dl_box_bd .pc_dl_box_r .r_box_dl_btn a i {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 35px;
  height: 31px;
  background-position: 0 -362px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_hd h2 {
  background: url(../images/title04.gif) no-repeat;
  height: 42px;
  text-indent: 9999em;
}
.download_wrap .moblie_dl_box .moblie_dl_box_hd .box_hd_txt {
  line-height: 34px;
  height: 34px;
  margin-bottom: 20px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_md {
  height: 432px;
  width: 1059px;
  margin: 0 auto;
  overflow: hidden;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd {
  margin-top: 20px;
  height: 265px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l {
  background-color: #ebebeb;
  width: 640px;
  height: 265px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .m_dl_text {
  line-height: 82px;
  height: 82px;
  padding-bottom: 4px;
  padding-left: 100px;
  color: #1e2432;
  letter-spacing: 2px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li {
  float: left;
  padding-left: 61px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li i {
  display: inline-block;
  width: 67px;
  height: 65px;
  margin-right: 17px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li span {
  display: inline-block;
  width: 150px;
  height: 150px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li .icon_ios {
  background-position: 0 -410px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li .icon_wx_ios {
  background: url(../images/wx01.jpg) no-repeat center;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li .icon_android {
  background-position: -78px -410px;
}
.download_wrap .moblie_dl_box .moblie_dl_box_bd .box_bd_l .wx_dl_box ul li .icon_wx_android {
  background: url(../images/wx02.jpg) no-repeat center;
}
.download_wrap .adv_box_list ul li {
  width: 545px;
  height: 37px;
  background-color: #e6b800;
  line-height: 37px;
  padding-left: 15px;
}
.download_wrap .adv_box_list ul li + li {
  border-top: 1px solid  #fff;
}
