.save_guid_wrap{
    .save_guid_ul{
      .save_guid_li{
          &+li{
            margin-top: 20px;
          }
          .guid_text{
              line-height: 14px;
              height:14px;
          }
          .guid_img{
             img{
               width:820px;
                height: 336px;
             }
          }
      }
    }
}