.new_list_wrap .new_list_ul li {
  border-top: 1px solid #e9e8e8;
  border-bottom: 1px solid  #e9e8e8;
  height: 135px;
  margin-bottom: 30px;
}
.new_list_wrap .new_list_ul li .list_left_box {
  width: 66px;
  height: 133px;
}
.new_list_wrap .new_list_ul li .list_left_box .leftbox_hd {
  height: 66px;
  line-height: 66px;
  background-color: #353942;
}
.new_list_wrap .new_list_ul li .list_left_box .leftbox_bd {
  height: 57px;
  background-color: #fed735;
  color: #353942;
  padding-top: 10px;
}
.new_list_wrap .new_list_ul li .list_left_box .leftbox_bd em {
  line-height: 30px;
}
.new_list_wrap .new_list_ul li .list_middle_box {
  height: 133px;
  width: 940px;
  padding-left: 19px;
}
.new_list_wrap .new_list_ul li .list_middle_box .text_title {
  padding-top: 5px;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  color: #3c4049;
}
.new_list_wrap .new_list_ul li .list_middle_box .tetx_con {
  height: 48px;
  overflow: hidden;
}
.new_list_wrap .new_list_ul li .list_middle_box .text_goto {
  line-height: 36px;
  height: 36px;
}
.new_list_wrap .new_list_ul li .list_middle_box .text_goto a {
  color: #0fa000;
}
.new_list_wrap .new_list_ul li .list_right_box {
  height: 135px;
  width: 135px;
  background: url(../images/pic01.jpg) no-repeat center;
}
.new_list_wrap .new_list_ul li .list_right_box .mask_div {
  position: absolute;
  width: 100%;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e1c551;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
.new_list_wrap .new_list_ul li .list_right_box .mask_div:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
}
.new_list_wrap .new_list_ul li .list_right_box .mask_div .icon_add {
  display: block;
  height: 58px;
  width: 58px;
  background-position: 0 -323px;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.new_list_wrap .list_box_bd {
  margin-top: 3px;
}
.new_list_wrap .list_box_bd .div_paging {
  height: 29px;
  width: 767px;
  margin: 0 auto;
}
.new_list_wrap .list_box_bd .div_paging .prev,
.new_list_wrap .list_box_bd .div_paging .next {
  height: 29px;
  width: 88px;
  color: #262d3f;
  background-color: #fed735;
  line-height: 29px;
  float: left;
  text-align: center;
  margin-right: 18px;
}
.new_list_wrap .list_box_bd .div_paging .page_num {
  display: block;
  float: left;
  height: 29px;
  width: 29px;
  text-align: center;
  line-height: 29px;
  background-color: #b7b7b7;
  margin-right: 18px;
}
.new_list_wrap .list_box_bd .div_paging .page_num.current {
  background-color: #353942;
}
.new_list_wrap .list_box_bd .div_paging .page_totle {
  display: block;
  height: 29px;
  line-height: 29px;
}
.new_list_wrap .list_box_bd .div_paging .confirm {
  display: block;
  width: 59px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  background-color: #fed735;
  color: #262d3f;
}
